<div class="container py-3">
  <h2>Invite Someone to A Project</h2>
  <form class="formGroup"
        novalidate
        [formGroup]="inviteToProjectForm">
    <div class="form-group">
      <div class="form-group">
        <input type="text"
               name="projectName"
               id="projectName"
               class="form-control"
               placeholder="Project Name"
               formControlName="projectName"/>
      </div>
      <div *ngIf="projectName.invalid && projectName.touched"
           class="text-danger">
        Project Name is required
      </div>
      <div class="form-group">
        <div class="form-group">
          <input type="text"
                 name="username_inv"
                 id="username_inv"
                 class="form-control"
                 placeholder="User Name"
                 formControlName="username_inv"/>
        </div>
        <div *ngIf="username_inv.invalid && username_inv.touched"
             class="text-danger">
          Sprint Name is required
        </div>
        <button type="submit" class="btn btn-default" (click)="submitInviteToProjectForm()"> Save</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
</div>

