<div class="container" align="Center">
  <button class="btn btn-default" type="submit" name="createNewProject" routerLink="/createProject">
    Create a new project
  </button>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <th scope="row">
    <tr>
      <div *ngFor="let project of projects">
        <button class="btn btn-primary btn-lg"
                (click)="storeCurrentProjectID(project.id)">
            {{ project.project }}
        </button>
      </div>
    </tr>
  </th>
  <th scope="row">
    <tr *ngFor="let project of projects">
      {{ project.description }}
    </tr>
  </th>
  </tbody>

</table>
