<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a class="navbar-brand">Team GGHB</a>
      </div>
      <div class="navbar-collapse collapse">
  
        <ul class="navbar-nav nav">
  
          <li class='active' >
            <a href="#/">Home</a>
          </li>
  
          <li >
            <a href="#about">About</a>
          </li>
  
      </ul>
  
      <ul class="navbar-text navbar-right">
        
            <form class="form-inline" action="/logout" method="POST">
              <div class="form-group">
                <label>UserName</label>
              
              <button ng-click="logout()" type="submit" class="btn btn-default">Sign out</button>
              </div>
            </form> 
          </ul>
  
    </div>
    </div>
    </nav>
    
  <br/><br/><br/>
  <br/><br/><br/>
  <br/><br/>
  
  <form class="sprint" action="http://localhost:3000/addSprint" method="POST">
    <div class="container" align="Center">
        <h2>Create a Sprint</h2>
  
    <div class="form-group">
      <label for="ProjectDescription">Date begin</label>
      <input type="date" name="date_begin">
    </div>
    <div class="form-group">
      <label for="ProjectDescription">Date begin</label>
      <input type="date" name="date_end">
    </div>
        <button type="submit" class="btn btn-default"> Save</button>
      <button type="reset" class="btn btn-default">Reset</button>
      </div>
  </form>