<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container" ng-app="myApp">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i></a>
      <a class="navbar-brand">Team GGHB</a>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="navbar-nav nav">

        <li class='active' >
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li >
          <a class="nav-link" routerLink="/about">About</a>
        </li>

    </ul>

  <ul class="navbar-text navbar-right">

    <form class="form-inline" action="http://localhost:3000/login" method="POST">
      <div class="form-group" ng-controller="myCtrl">
        <label>UserName:</label>
        <input type="text" ng-model="username_co" placeholder="Enter your UserName" class="form-control" name="username_co" required>

        <label>Password:</label>
        <input type="password" ng-model="password_co" placeholder="Enter your password" class="form-control" name="password_co" required>
      
      <button ng-click="login" class="btn btn-primary">Sign In</button>
      </div>
    </form> 
  </ul>
</div>
</div>
</nav>


<form class="signUp" action="http://localhost:3000/register" method="POST">
  <div class="container1" align="Center">
    
      <br/><br/><br/>
      
        <h2>Create an account</h2>
        <div class="form-group">
          <label for="UserName">User Name:</label>
          <input type="text" placeholder="Enter UserName" class="form-control" name="username" required>
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" placeholder="Enter Password" class="form-control" name="password" required>
        </div>
  
        <div class="form-group">
          <label for="confirmPassword">Repeat Password:</label>
          <input type="password" placeholder="Repeat Password" class="form-control" name="rpassword" required>
        </div>
    
        <button ng-click="register" type="submit" class="btn btn-default">Sign up</button>
        <button type="reset" class="btn btn-default">Reset</button>
  </div>
</form>