<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i></a>
      <a class="navbar-brand">Team GGHB</a>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="navbar-nav nav">

        <li class='active' >
          <a href="#/">Home</a>
        </li>

        <li >
          <a href="#about">About</a>
        </li>

      </ul>

      <ul class="navbar-text navbar-right">

        <form class="form-inline" action="/logout" method="POST">
          <div class="form-group">
            <label>UserName</label>

            <button ng-click="logout()" type="submit" class="btn btn-default">Sign out</button>
          </div>
        </form>
      </ul>

    </div>
  </div>
</nav>

<br/><br/><br/>
<br/><br/><br/>
<br/><br/>

<div class="container" align="left">
  <h1>Invite A Contributor To The Current Project</h1>
   <form class="cproject" action="http://localhost:3000/invited" method="POST">
    <div class="form-group">
      <label for="contributor">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter a contributor name" required>
      <input type="text" class="form-control" name="projectName" placeholder="Enter a project name" required>
    </div>
        <button type="submit" class="btn btn-default"> Invite</button>
      <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>
